hr{
    color: #b4975f;
    background-color: #b4975f;
    width: 50px;
    height: 3px;
    margin: 10px auto;
    border-width: 1px 0px 0px 0px;
    clear: both;
    display: block
}

article {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

h1 {
   font-family: Helvetica;
   font-size: 38px;
   display: block;
   color: #b4975f;
   text-align: center;    
}

.link {
    color: black;
    text-decoration: underline;
}

.link:hover{
    color: #b4975f;
}

img{
    min-width: 100%;
    height: 151px;
    max-width: 100%;
    width: 711px;

}