.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 article {
     padding-top: 80px;
     padding-bottom: 40px;
     text-align: center;
 }

 h1 {
    font-family: Helvetica;
    font-size: 38px;
    display: block;
    color: #b4975f;
    text-align: center;    
 }

 h2{
    font-family: Helvetica;
    font-size: 18px;
    display: block;
    color: #b4975f;
    text-align: center;
 }

.keterangan {
    font-family: Helvetica;
    font-size: 17px;
    display: block;
    text-align: center;    
 }

 hr{
     color: #b4975f;
     background-color: #b4975f;
     width: 50px;
     height: 3px;
     margin: 10px auto;
     border-width: 1px 0px 0px 0px;
     clear: both;
     display: block
 }

 .tebal{
     text-align : center;
 }

 body {
    position: relative;
  }
  
  body::after {
    content: '';
    display: block;
    height: 184px; /* Set same as footer's height */
  }

 footer {
     background-color: #3a3a3c;
     color: #3a3a3c;
     height: 184px;
     min-width: auto;
     max-width: auto;
     width: 100%;
     padding-bottom: 30px;
     position : absolute;
     bottom: 0;
 }



 .footerIsi {
     font-family: Helvetica;
     font-size : 17px;
     color: white;
     
 }

 .footerIsi:hover{
    color: white;
    text-decoration: none;
}

#icon{
    color: white;
}

.click{
    color: black;
}

.click:hover{
    text-decoration: none;
    color: #b4975f;
}
 
/* nav */

.navbar{
    background-color: transparent;
}
.nav-link{
    color: #b4975f;
}

#navtext{
    color: #b4975f;
}
/* nav */

#jumbotron{
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 755px;
}

.jumbotronsub{
    color: white;
    text-align: center;
    font-size: 28px;
    
    font: "Mentor Sans";
}
.jumbotrontitle{
    color: white;
    text-align: center;
    font-size: 80px;
    font: sans-serif;
}

.jumbotronbut{
    color : black;
    background-color: #b4975f;
    height: 45px;
    width: auto;
    text-align: center;
    position: relative;
    left: 45%;
    font-family: "Geometric 415",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 0.76471em;
}

.jumbotronbut:hover{
    text-decoration: none;
    color : black;
    background-color: #b4975f;
    
}

.announcement{
    color: white;
    background-color: #b4975f;
    text-align: center;
    font-size: 24px;
    height: 58px;
    width: 100%;
    line-height: 26px;
    left: 0;
    position: absolute;
    top: 0;
}

/* Home */

p#story{
        text-align: left;
        font-size: 17px;
}

img#story{
    height : 510px; 
    width  : 510px;
}
 

/*
.container {
    height: auto;
    min-width: auto;
    min-height: auto;
}

.box{
    width: 1020px;
    height: auto;
    margin: 0 auto;  
}
*/
/*product */

.fproduk{
    height: 230px;
    width: 230px;
}

.aproduk:hover {
    text-decoration: none;

}

.aproduk:hover img {
    opacity: 50%;

}

.cart{
    align-content :center;
    width: 355px;
    height: 45px;
    background-color: white;
    color: #b4975f;
    border: 1px solid #b4975f;
}

.buy{
    align-content :center;
    width: 355px;
    height: 45px;
    background-color: #b4975f;
    color: white;
    border: 1px solid #b4975f;
}

.back{
    border : 0;
    background-color: white;
    align-content: center;
    text-align: center;
}

.gambarproduk{
    max-width: 540px;
    max-height: 540px;
    padding-bottom: 30px;
    min-width: auto;
    min-height: auto;
}

.gambarlain{
    max-width: 85px;
    max-height: 85px;
    min-width: auto;
    min-height: auto;
}

.btng{
    border: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: white; 
    max-width: 130px;
    max-height: 100px;
    min-width: auto;
    min-height: auto;
}

.newsletter{
    width: 100%;
    background-color: #EFEEEE;
}